.grid-container {
  width: 100vw;
  height: calc(100vh - 62px);
}

.white-key {
  position: relative;
  background: #fff;
  border: 1px solid #000;
  width: 25.3px;
  height: 126.5px;
  border-radius: 0 0 5px 5px;
  margin-right: 1px;

  &.active {
    box-shadow: inset 0 0 20px rgba(0 0 0 / 25%);
    transform: scaleY(0.99);
    -webkit-transform-origin-y: 0;
  }
}

.black-key {
  background: #000;
  z-index: 2;
  width: 20.24px;
  height: 86px;
  border-radius: 0 0 5px 5px;

  &.active {
    box-shadow: inset 0 0 20px rgba(255 255 255 / 60%);
    transform: scaleY(0.99);
    -webkit-transform-origin-y: 0;
  }
}

.c-key {
  @apply white-key;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.c-sharp-key {
  @apply black-key;
  grid-column: 2 / span 2;
  grid-row: 1;
}

.d-key {
  @apply white-key;
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.d-sharp-key {
  @apply black-key;
  grid-column: 5 / span 2;
  grid-row: 1;
}

.e-key {
  @apply white-key;
  grid-column: 6 / span 2;
  grid-row: 1 / span 2;
}

.f-key {
  @apply white-key;
  grid-column: 8 / span 2;
  grid-row: 1 / span 2;
}

.f-sharp-key {
  @apply black-key;
  grid-column: 9 / span 2;
  grid-row: 1;
}

.g-key {
  @apply white-key;
  grid-column: 10 / span 2;
  grid-row: 1 / span 2;
}

.g-sharp-key {
  @apply black-key;
  grid-column: 12 / span 2;
  grid-row: 1;
}

.a-key {
  @apply white-key;
  grid-column: 13 / span 2;
  grid-row: 1 / span 2;
}

.a-sharp-key {
  @apply black-key;
  grid-column: 15 / span 2;
  grid-row: 1;
}

.b-key {
  @apply white-key;
  grid-column: 16 / span 2;
  grid-row: 1 / span 2;
}

/* Blog */
.markdown-body {
  @apply prose prose-lg mx-auto px-4 py-8 text-gray-700 dark:text-gray-300;
  max-width: 65ch; /* Limits the line length for readability */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
    @apply dark:text-gray-100;
  }

  h1 {
    @apply text-3xl mt-10 mb-4;
  }

  h2 {
    @apply text-2xl mt-8 mb-4;
  }

  h3 {
    @apply text-xl mt-6 mb-3;
  }

  p,
  li {
    @apply leading-7 mb-4;
  }

  a {
    @apply text-blue-500 hover:text-blue-600 dark:text-blue-400 dark:hover:text-blue-300;
  }

  ul,
  ol {
    @apply list-inside list-disc pl-5;
  }

  ol {
    @apply list-decimal;
  }

  blockquote {
    @apply border-gray-200 dark:border-gray-700 text-gray-600 dark:text-gray-400;
    @apply border-l-4 pl-4 italic;
  }
}
