.grid-container {
  width: 100vw;
  height: calc(100vh - 62px);
}

.white-key {
  position: relative;
  background: #fff;
  border: 1px solid #000;
  width: 25.3px;
  height: 126.5px;
  border-radius: 0 0 5px 5px;
  margin-right: 1px;

  &.active {
    box-shadow: inset 0 0 20px rgba(0 0 0 / 25%);
    transform: scaleY(0.99);
    -webkit-transform-origin-y: 0;
  }
}

.black-key {
  background: #000;
  z-index: 2;
  width: 20.24px;
  height: 86px;
  border-radius: 0 0 5px 5px;

  &.active {
    box-shadow: inset 0 0 20px rgba(255 255 255 / 60%);
    transform: scaleY(0.99);
    -webkit-transform-origin-y: 0;
  }
}

.c-key {
  @apply white-key;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.c-sharp-key {
  @apply black-key;
  grid-column: 2 / span 2;
  grid-row: 1;
}

.d-key {
  @apply white-key;
  grid-column: 3 / span 2;
  grid-row: 1 / span 2;
}

.d-sharp-key {
  @apply black-key;
  grid-column: 5 / span 2;
  grid-row: 1;
}

.e-key {
  @apply white-key;
  grid-column: 6 / span 2;
  grid-row: 1 / span 2;
}

.f-key {
  @apply white-key;
  grid-column: 8 / span 2;
  grid-row: 1 / span 2;
}

.f-sharp-key {
  @apply black-key;
  grid-column: 9 / span 2;
  grid-row: 1;
}

.g-key {
  @apply white-key;
  grid-column: 10 / span 2;
  grid-row: 1 / span 2;
}

.g-sharp-key {
  @apply black-key;
  grid-column: 12 / span 2;
  grid-row: 1;
}

.a-key {
  @apply white-key;
  grid-column: 13 / span 2;
  grid-row: 1 / span 2;
}

.a-sharp-key {
  @apply black-key;
  grid-column: 15 / span 2;
  grid-row: 1;
}

.b-key {
  @apply white-key;
  grid-column: 16 / span 2;
  grid-row: 1 / span 2;
}

.slider-vertical {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
}

g path.react-flow__edge-path {
  stroke-width: 4;
}

g.selected path.react-flow__edge-path {
  stroke: #6793c6 !important;
}
